.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
scripts/**
.github/**
.buildkite/**
**/*.ts
**/*.map
**/tsconfig*.json
eslint.config.mjs
.gitignore
.gitattributes
mise.toml
**/.eslintrc.json
out/test/**
out/**/*.test.js
node_modules/.bin/**
