.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
scripts/**
.github/**
.buildkite/**
node_modules/**
esbuild.js
**/*.ts
**/*.map
**/tsconfig*.json
eslint.config.mjs
.gitignore
.gitattributes
mise.toml
